fastapi>=0.115.0
uvicorn[standard]>=0.30.6
sqlalchemy>=2.0.35
pandas>=2.3.3
pydantic>=2.9.2
pydantic-settings>=2.5.2
langchain>=0.3.7
langchain-community>=0.3.5
langgraph>=0.2.39
ollama>=0.3.3
python-multipart>=0.0.12
langchain-ollama>=0.2.0